<div class="container">
  <button class="close-button">&times;</button>
  <h5>Команды</h5>

  <div class="text-field text-field_floating">
    <input class="text-field__input" type="text" id="bf" required />
    <label class="text-field__label" for="day_input">Создать команду</label>

    <button class="ready">Готово</button>
  </div>

  <div class="text-field">
    <div class="text-field__input empty">Список пуст</div>
    <button class="text-field__select"><img src="../../assets/img/nav-img/Shevron_icon.png" alt="" /></button>
  </div>

  <button class="add">Сохранить изменения</button>
</div>
