<form [formGroup]="recoverForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="code">Код:</label>
    <input id="code" formControlName="code" />
  </div>
  <div>
    <label for="newPassword">Новый пароль:</label>
    <input id="newPassword" type="password" formControlName="newPassword" />
  </div>
  <div>
    <label for="confirmPassword">Подтвердите новый пароль:</label>
    <input id="confirmPassword" type="password" formControlName="confirmPassword" />
  </div>
  <button type="submit" [disabled]="recoverForm.invalid">Восстановить пароль</button>
</form>
