<div class="container">
  <div class="header">
    <h4>Бронь рабочих мест</h4>
    <button class="close-icon" (click)="closeDialog()">
      <img src="assets/img/reports-img/close-icon.svg" alt="Иконка закрытия" class="close-icon" />
    </button>
  </div>
  <div>
    <h5>Доступно</h5>
    <div class="time">
      <div class="time_input">
        <input class="timee__input" type="time" id="bf" required />
        <label class="timee__label" for="time_input">С:</label>
      </div>

      <div class="time_input">
        <input class="timee__input" type="time" id="bf" required />
        <label class="timee__label" for="time_input">До:</label>
      </div>
    </div>

    <div class="text-field text-field_floating">
      <input class="text-field__input" type="text" id="bf" required />
      <label class="text-field__label" for="day_input">Наперед</label>
      <img class="text-field__icon" src="../../assets/img/nav-img/Edit_icon.svg" alt="Edit_icon" />
    </div>
    <button class="save">Сохранить изменения</button>
  </div>
</div>
