<div class="container">
  <div class="header">
    <h4>Бронь рабочих мест</h4>
    <button class="close-icon" (click)="closeDialog()">
      <app-icon [size]="20" [svgIcon]="'close'" alt="close-icon" class="close-icon"> </app-icon>
    </button>
  </div>
  <div>
    <h5>Доступно</h5>
    <div class="time">
      <div class="time_input">
        <input class="timee__input" type="time" [(ngModel)]="bookingOpenTime" required />
        <label class="timee__label" for="time_input">С:</label>
      </div>

      <div class="time_input">
        <input class="timee__input" type="time" [(ngModel)]="bookingCloseTime" required />
        <label class="timee__label" for="time_input">До:</label>
      </div>
    </div>
    <div class="dayBefore-input">
      <label for="dayBefore-input" class="dayBefore-label">Наперед дней</label>
      <input type="number" [(ngModel)]="daysAhead" class="dayBefore" min="0" (input)="validateDaysAhead()" />
    </div>

    <button class="save" (click)="saveChanges()">Сохранить изменения</button>
  </div>
</div>
