<div class="container">
  <div class="header">
    <h4>Бронь переговорной</h4>
    <button class="close-icon" (click)="closeDialog()">
      <img src="assets/img/reports-img/close-icon.svg" alt="Иконка закрытия" class="close-icon" />
    </button>
  </div>

  <h5>Доступно</h5>
  <div class="time">
    <div class="time_input">
      <input class="timee__input" type="time" [(ngModel)]="meetingOpenTime" required />
      <label class="timee__label" for="meetingOpenTime">С:</label>
    </div>

    <div class="time_input">
      <input class="timee__input" type="time" [(ngModel)]="meetingCloseTime" required />
      <label class="timee__label" for="meetingCloseTime">До:</label>
    </div>
  </div>

  <h5>Длительность встречи</h5>
  <div class="time">
    <div class="time_input">
      <input class="timee__input" type="number" min="0" [(ngModel)]="minMeetingDuration" required />
      <label class="timee__label" for="minMeetingDuration">Минимум (мин.):</label>
    </div>

    <div class="time_input">
      <input class="timee__input" type="number" min="0" [(ngModel)]="maxMeetingDuration" required />
      <label class="timee__label" for="maxMeetingDuration">Максимум (мин.):</label>
    </div>
  </div>

  <h5>Дни наперед</h5>
  <div class="text-field text-field_floating">
    <input class="text-field__input" type="number" [(ngModel)]="daysAhead" min="0" required />
    <label class="text-field__label" for="day_input">Наперед дней</label>
  </div>

  <button class="save" (click)="saveChanges()">Сохранить изменения</button>
</div>
