.mat-dialog-container {
  width: 594px;
  height: 100%;
  font-family: "SF Pro Display", sans-serif;
  background-color: white;
  padding: 28px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.container {
  background-color: white;
  max-width: 538px;
  max-height: 600px;
  height: 426px;
  border-radius: 8px;
  margin: 4px;
  position: relative;
}

.close-icon {
  right: 12px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #a0b9cd;
  align-items: center;
}

.header {
  align-items: center;
  max-width: 538px;
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: space-between;
}

h4 {
  font-family: "SF Pro Display", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #07203a;
  text-align: left;
  margin: 0;
}
h5 {
  font-family: "SF Pro Display", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #07203a;
  text-align: left;
  margin: 0 0 36px 0;
}
.text-field {
  position: relative;
  margin-bottom: 36px;
}

.text-field__input {
  font-family: "SF Pro Display", sans-serif;
  width: 538px;
  height: 72px;
  padding: 16px 14px 0 14px;
  background-color: #f7f8fa;
  border: 1px solid transparent;
  border-radius: 8px;
  font-size: 16px;
  color: #07203a;
  box-sizing: border-box;
  margin-top: 36px;
}

.text-field__input.empty {
  font-family: "SF Pro Display", sans-serif;
  width: 538px;
  height: 48px;
  padding: 16px 14px 0 14px;
  background-color: #ffff;
  border: 1px solid transparent;
  border-radius: 8px;
  font-size: 16px;
  color: #07203a;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0;
  &:focus {
    outline: none;
    background-color: #ecf1f3;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); // Усиливает тень при фокусе
  }
}

.text-field__input:focus {
  outline: none;
  background-color: #ecf1f3;
}

.text-field__input:focus ~ .text-field__label,
.text-field__input:not(:placeholder-shown) ~ .text-field__label {
  transform: translateY(-18px) scale(0.8);
  font-size: 16px;
  padding-left: 4px;
  color: #2d465b;
}

.text-field__label {
  font-family: "SF Pro Display", sans-serif;
  position: absolute;
  top: 70%;
  left: 4px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #2d465b;
  transition: 0.2s ease all;
  pointer-events: none;
}

.text-field__icon {
  position: absolute;
  top: 80%;
  transform: translateY(-60%);
  right: 5px;
  width: 48px;
  height: 48px;
}

.add {
  font-family: "SF Pro Display", sans-serif;
  background-color: #005caa;
  color: #ffffff;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 538px;
  height: 52px;
  text-align: center;

  margin-top: 36px;
}

.add:hover {
  background-color: #004a94;
}

.switch {
  display: flex;
  align-items: center;
  margin-top: 36px;
}

.switch input {
  display: none;
}

.switch .slider {
  width: 40px;
  height: 20px;
  background-color: #d1d1d1;
  border-radius: 34px;
  position: relative;
  transition: 0.4s;
  cursor: pointer;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  background-color: white;
  border-radius: 50%;
  left: 2px;
  bottom: 2px;
  transition: 0.4s;
}

.switch input:checked + .slider {
  background-color: #005caa;
}

.switch input:checked + .slider:before {
  transform: translateX(20px);
}

.switch .switch-label {
  font-family: "SF Pro Display", sans-serif;
  margin-left: 12px;
  font-size: 16px;
  color: #07203a;
}

.close-button {
  font-family: "SF Pro Display", sans-serif;
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #8a8a8a;
}

.close-button:hover {
  color: #005caa;
}

.mat-form-field {
  width: 100%;
}

.mat-select {
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: 0px 8px 32px 0px #00000014;
}

.mat-select-trigger {
  font-family: "SF Pro Display", sans-serif;
  color: #333;
}

.mat-select-panel {
  background-color: #ffffff;
  border: 1px solid #ccc;
}

mat-option {
  color: #000;
  font-family: "SF Pro Display", sans-serif;
  display: flex;
  justify-content: space-between;
}

.mat-option:hover {
  background-color: #e0e0e0;
}

.close-icon {
  right: 12px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #a0b9cd;
  align-items: center;
  z-index: 10;
}
