<div class="container">
  <div class="header">
    <h4>Бронь рабочих мест</h4>
    <button class="close-icon" (click)="closeDialog()">
      <img src="assets/img/reports-img/close-icon.svg" alt="Иконка закрытия" class="close-icon" />
    </button>
  </div>

  <div class="text-field text-field_floating">
    <input class="text-field__input" type="text" id="bf" required />
    <label class="text-field__label" for="day_input">Рабочие дни</label>
    <img class="text-field__icon" src="../../assets/img/nav-img/Edit_icon.svg" alt="Edit_icon" />
  </div>

  <h5>Нерабочие дни</h5>

  <mat-form-field>
    <mat-label>Не рабочие дни</mat-label>
    <mat-select>
      <mat-option *ngFor="let day of nonWorkingDays" [value]="day.date">
        {{ day.date | date : 'd MMMM' }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <label class="switch">
    <input type="checkbox" />
    <span class="slider"></span>
    <span class="switch-label">Доступ бронирования в нерабочие дни</span>
  </label>

  <!--  <button class="add" >Добавить нерабочий день</button>-->
  <button class="add" (click)="openCalendarDialog()">Добавить нерабочий день</button>
</div>
