<div class="container">
  <button class="close-button">&times;</button>
  <h5>Рабочие дни</h5>

  <div class="text-field text-field_floating">
    <input class="text-field__input" type="text" id="bf" required />
    <label class="text-field__label" for="day_input">Рабочие дни</label>
    <img class="text-field__icon" src="../../assets/img/nav-img/Edit_icon.png" alt="Edit_icon" />
  </div>

  <h5>Нерабочие дни</h5>

  <div class="text-field">
    <input class="text-field__input empty" type="text" id="bf" required placeholder="Список пуст" />
  </div>

  <label class="switch">
    <input type="checkbox" />
    <span class="slider"></span>
    <span class="switch-label">Доступ бронирования в нерабочие дни</span>
  </label>

  <button class="add">Добавить нерабочий день</button>
</div>
