<div class="login-wrapper">
  <div class="login-container">
    <div class="login-box">
      <div class="headText">Войти</div>
      <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
        <div class="login-error" *ngIf="error && !isLoading">{{ error }}</div>
        <div class="login-fields">
          <div class="input-group">
            <div class="floating-label">
              <input
                id="username"
                type="text"
                formControlName="username"
                autocomplete="username"
                placeholder=" "
                required
                class="custom-input"
              />
              <label for="username" class="floating-placeholder">Username</label>
              <button type="button" class="clear-button" (click)="clearUsername()">
                <img
                  src="../../assets/img/auth-img/Textfield_icon.png"
                  alt="Clear"
                  class="clear-icon"
                  width="18"
                  height="18"
                />
              </button>
            </div>
          </div>
          <div
            class="error-message"
            *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].touched"
          >
            Поле для ввода имя пользователя пуст
          </div>
          <div class="close-text">Текст может быть скрыт</div>
          <div class="input-group">
            <div class="floating-label">
              <input
                id="password"
                [type]="passwordFieldType"
                formControlName="password"
                autocomplete="current-password"
                placeholder=" "
                required
                class="custom-input"
              />
              <label for="password" class="floating-placeholder">Password</label>
              <button type="button" class="toggle-password-button" (click)="togglePassword()">
                <img
                  [src]="passwordIcon"
                  alt="Toggle Password"
                  class="toggle-icon"
                  [style.width]="iconWidth"
                  [style.height]="iconHeight"
                />
              </button>
            </div>
          </div>
          <div
            class="error-message"
            *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched"
          >
            Поле для ввода пароля пуст
          </div>
          <div class="close-text">Текст может быть скрыт</div>

          <div class="forgot-password">
            <a href="#" (click)="openResetPasswordDialog()">Забыли пароль?</a>
          </div>

          <button class="submit-button" type="submit" [disabled]="loginForm.invalid || isLoading">
            <span *ngIf="isLoading">Loading...</span>
            <span *ngIf="!isLoading">Войти</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
