<div class="login-wrapper">
  <div class="login-container">
    <mat-card class="login-box">
      <div class="headText">Войти</div>
      <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
        <div class="login-error" *ngIf="error && !isLoading">{{ error }}</div>
        <div class="login-fields">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Логин</mat-label>
            <input matInput id="username" type="text" formControlName="username" autocomplete="username" required />
            <button mat-icon-button matSuffix type="button" (click)="clearUsername()" aria-label="Clear">
              <mat-icon>clear</mat-icon>
            </button>
            <mat-error *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].touched">
              Поле для ввода имени пользователя пуст
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Пароль</mat-label>
            <input
              matInput
              id="password"
              [type]="passwordFieldType"
              formControlName="password"
              autocomplete="current-password"
              required
            />
            <button mat-icon-button matSuffix type="button" (click)="togglePassword()" aria-label="Toggle Password">
              <mat-icon>{{ isPasswordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
              Поле для ввода пароля пуст
            </mat-error>
          </mat-form-field>

          <button
            mat-raised-button
            color="primary"
            class="submit-button"
            type="submit"
            [disabled]="loginForm.invalid || isLoading"
          >
            <span *ngIf="isLoading">Loading...</span>
            <span *ngIf="!isLoading">Войти</span>
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
