<div class="main-container">
  <div class="content-container">
    <div class="header">
      <h1>Сотрудники</h1>
    </div>
    <div class="search-section">
      <div class="search-container222">
        <div class="search-container">
          <div class="search-container333">
            <input type="text" placeholder="Ф.И.О. / Команда" class="search-input" [(ngModel)]="searchQuery" />

            <app-icon [size]="18" [svgIcon]="'search'" alt="search-icon" class="search-icon"> </app-icon>

            <button class="close-icon" (click)="clearSearch()">
              <app-icon [size]="20" [svgIcon]="'close'" alt="close-icon" class="close-icon"> </app-icon>
            </button>
          </div>
          <div class="button-done111">
            <button class="button-done" (click)="filterEmployees()">Готово</button>
          </div>
        </div>
      </div>

      <div class="controls">
        <select class="button-team" [(ngModel)]="selectedTeam" (change)="filterEmployees()">
          <option value="">Тип команды</option>
          <option *ngFor="let team of teams" [value]="team.name">{{ team.name }}</option>
        </select>
        <button class="button-done" (click)="openEmployeeRegisterForm()">Открыть форму для регистрации</button>
      </div>
    </div>

    <div class="scroll-table">
      <table class="report-table">
        <thead>
          <tr>
            <th (click)="sortBy('lastName')">
              Фамилия
              <app-icon [size]="12" [svgIcon]="'down-arrow'" alt="down-icon" class="arrow"> </app-icon>
            </th>
            <th (click)="sortBy('firstName')">
              Имя
              <app-icon [size]="12" [svgIcon]="'down-arrow'" alt="down-icon" class="arrow"> </app-icon>
            </th>
            <th (click)="sortBy('middleName')">
              Отчество
              <app-icon [size]="12" [svgIcon]="'down-arrow'" alt="down-icon" class="arrow"> </app-icon>
            </th>
            <th>Команда</th>
            <th>Должность</th>
            <th>Почта</th>
            <th>Роль</th>
            <th>Операции</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of filteredEmployees">
            <td>{{ employee.lastName }}</td>
            <td>{{ employee.firstName }}</td>
            <td>{{ employee.middleName || 'null' }}</td>
            <td>{{ employee.team?.name || 'null' }}</td>
            <td>{{ employee.position?.name || 'null' }}</td>
            <td>{{ employee.email }}</td>
            <td>
              <span class="role-badge" [ngClass]="{ 'admin-badge': employee.roles.includes('ROLE_ADMIN') }">
                {{ employee.roles.includes('ROLE_ADMIN') ? 'Админ' : 'Пользователь' }}
              </span>
            </td>
            <td>
              <button
                *ngIf="employee.roles.includes('ROLE_USER')"
                class="role-button admin"
                (click)="changeEmployeeRole(employee.id, 'ROLE_ADMIN')"
              >
                Сделать админом
              </button>
              <button
                *ngIf="employee.roles.includes('ROLE_ADMIN')"
                class="role-button user"
                (click)="changeEmployeeRole(employee.id, 'ROLE_USER')"
              >
                Сделать пользователем
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
