<div class="main">
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Электронная почта:</label>
      <input id="email" formControlName="email" />
      <div
        *ngIf="resetForm.get('email')?.invalid && (resetForm.get('email')?.touched || resetForm.get('email')?.dirty)"
      >
        <small *ngIf="resetForm.get('email')?.errors?.['required']">Почта обязательна.</small>
        <small *ngIf="resetForm.get('email')?.errors?.['email']">Некорректный формат почты.</small>
      </div>
    </div>
    <button type="submit" [disabled]="resetForm.invalid">Сбросить пароль</button>
  </form>
</div>
