<div class="profile-container">
  <div class="close-container">
    <button class="close-button" (click)="closeDialog()">
      <img src="../../assets/img/nav-img/close-icon.svg" width="20" height="20" />
    </button>
    <div>
      <input type="file" (change)="onFileSelected($event)" />
      <button (click)="uploadAvatar()" [disabled]="!selectedFile">Загрузить аватар</button>
    </div>
  </div>
  <div class="head-container">
    <button class="user-avatarka" (click)="openAvatarForm()">
      <img
        class="avat-img"
        *ngIf="currentEmployee?.avatar; else showInitial"
        [src]="'data:image/jpeg;base64,' + currentEmployee?.avatar"
        alt="Аватар"
        width="100"
      />

      <ng-template #showInitial>
        <p>{{ lastNameInitial }}</p>
      </ng-template>
    </button>

    <div class="user-FIO" *ngIf="currentEmployee">
      {{ currentEmployee.lastName }} {{ currentEmployee.firstName }} {{ currentEmployee.middleName }}
    </div>
    <div class="username" *ngIf="currentEmployee">
      {{ currentEmployee.email }}
    </div>
  </div>

  <div class="button-container">
    <button class="select-button" [class.active]="selectedSection === 'profile'" (click)="selectProfile()">
      Профиль
    </button>
    <button class="select-button" [class.active]="selectedSection === 'booking'" (click)="selectBooking()">
      Брони
    </button>
    <button class="select-button" [class.active]="selectedSection === 'statistics'" (click)="selectStatistics()">
      Статистика
    </button>
  </div>

  <div class="content-container">
    <ng-container *ngIf="selectedSection === 'profile'">
      <div class="information">
        <div class="input-container">
          <input
            type="text"
            id="lastName"
            formControlName="lastName"
            [value]="currentEmployee?.lastName || ''"
            class="user-information-input"
            readonly
          />
          <label class="placeholder" for="placeholder-lastName">Фамилия</label>
        </div>

        <div class="input-container">
          <input
            type="text"
            id="firstName"
            formControlName="firstName"
            [value]="currentEmployee?.firstName || ''"
            class="user-information-input"
            readonly
          />
          <label class="placeholder" for="firstName">Имя</label>
        </div>

        <div class="input-container">
          <input
            type="text"
            id="middleName"
            formControlName="middleName"
            [value]="currentEmployee?.middleName || ''"
            class="user-information-input"
            readonly
          />
          <label class="placeholder" for="middleName">Отчество</label>
        </div>

        <div class="input-container">
          <input
            type="text"
            id="position"
            formControlName="position"
            [value]="currentEmployee?.position?.name || ''"
            class="user-information-input"
            readonly
          />
          <label class="placeholder" for="position">Должность</label>
        </div>

        <div class="input-container">
          <label class="placeholder" for="team">Команда</label>
          <input
            type="text"
            id="team"
            formControlName="team"
            [value]="currentEmployee?.team?.name || ''"
            class="user-information-input"
            readonly
          />
        </div>
      </div>
      <button class="logout-button" (click)="logoutSystem()">
        Выйти
        <img src="../../assets/img/nav-img/log out.svg" class="logout-img" />
      </button>
    </ng-container>
    <ng-container *ngIf="selectedSection === 'booking'">
      <div class="profile-booking-container">
        <div class="input-container">
          <input type="text" id="today" value="Сегодня" class="user-information-input" readonly />

          <label for="today">
            <div class="placeholder_2" *ngIf="todayBookings$ | async as todayBookings; else loadingToday">
              <div *ngIf="hasTodayBookings; else noTodayBookings">
                <div *ngFor="let booking of todayBookings">
                  {{ booking.place }}
                </div>
              </div>
            </div>
            <ng-template #loadingToday>
              <p>Загрузка данных на сегодня...</p>
            </ng-template>
            <ng-template #noTodayBookings>
              <p class="not-place">На сегодня нет бронирований</p>
            </ng-template>
          </label>
        </div>

        <div class="input-container">
          <input type="text" id="tomorrow" value="Завтра" class="user-information-input" readonly />
          <label for="tomorrow">
            <div class="placeholder_2" *ngIf="tomorrowBookings$ | async as tomorrowBookings; else loadingTomorrow">
              <div *ngIf="hasTomorrowBookings; else noTomorrowBookings">
                <div *ngFor="let booking of tomorrowBookings">
                  {{ booking.place }}
                </div>
              </div>
            </div>
            <ng-template #loadingTomorrow>
              <p>Загрузка данных на завтра...</p>
            </ng-template>
            <ng-template class="not-place" #noTomorrowBookings>
              <p>На завтра нет бронирований</p>
            </ng-template>
          </label>

          <div *ngIf="tomorrowBookings$ | async as tomorrowBookings; else loadingTomorrow">
            <div *ngIf="tomorrowBookings.length > 0">
              <div *ngFor="let booking of tomorrowBookings">
                <button class="delete-icon">
                  <img
                    src="../../assets/img/nav-img/red-close-icon.svg"
                    width="20"
                    height="20"
                    (click)="deleteBooking(booking.id)"
                  />
                </button>
              </div>
            </div>
          </div>
          <ng-template #loadingTomorrow>
            <p>Загрузка данных на завтра...</p>
          </ng-template>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="selectedSection === 'statistics'"> </ng-container>
  </div>
</div>
