<div class="profile-container">
  <div class="close-container">
    <button class="close-button" (click)="closeDialog()">
      <img src="../../assets/img/nav-img/close-icon.svg" width="20" height="20" />
    </button>
  </div>
  <div class="head-container">
    <div class="user-avatarka">
      <p>{{ lastNameInitial }}</p>
    </div>
    <div class="user-FIO" *ngIf="currentEmployee">
      {{ currentEmployee.lastName }} {{ currentEmployee.firstName }} {{ currentEmployee.middleName }}
    </div>
    <div class="username" *ngIf="currentEmployee">
      {{ currentEmployee.email }}
    </div>
  </div>

  <div class="button-container">
    <button class="select-button" [class.active]="selectedSection === 'profile'" (click)="selectProfile()">
      Профиль
    </button>
    <button class="select-button" [class.active]="selectedSection === 'booking'" (click)="selectBooking()">
      Брони
    </button>
    <button class="select-button" [class.active]="selectedSection === 'statistics'" (click)="selectStatistics()">
      Статистика
    </button>
  </div>

  <div class="content-container">
    <ng-container *ngIf="selectedSection === 'profile'">
      <div class="information">
        <div class="input-container">
          <input
            type="text"
            id="lastName"
            formControlName="lastName"
            [value]="currentEmployee?.lastName || ''"
            class="user-information-input"
            readonly
          />
          <label class="placeholder" for="placeholder-lastName">Фамилия</label>
        </div>

        <div class="input-container">
          <input
            type="text"
            id="firstName"
            formControlName="firstName"
            [value]="currentEmployee?.firstName || ''"
            class="user-information-input"
            readonly
          />
          <label class="placeholder" for="firstName">Имя</label>
        </div>

        <div class="input-container">
          <input
            type="text"
            id="middleName"
            formControlName="middleName"
            [value]="currentEmployee?.middleName || ''"
            class="user-information-input"
            readonly
          />
          <label class="placeholder" for="middleName">Отчество</label>
        </div>

        <div class="input-container">
          <input
            type="text"
            id="position"
            formControlName="position"
            [value]="currentEmployee?.position?.name || ''"
            class="user-information-input"
            readonly
          />
          <label class="placeholder" for="position">Должность</label>
        </div>

        <div class="input-container">
          <input
            type="text"
            id="team"
            formControlName="team"
            [value]="currentEmployee?.team?.name || ''"
            class="user-information-input"
            readonly
          />
          <label class="placeholder" for="team">Команда</label>
        </div>
      </div>
      <button class="logout-button">
        Выйти
        <img src="../../assets/img/nav-img/log out.svg" class="logout-img" (click)="logoutSystem()" />
      </button>
    </ng-container>
    <ng-container *ngIf="selectedSection === 'booking'">
      <!-- <div class="booking-container">
        <h2>Забронированные места</h2>
        <p>Запрашиваемые даты:</p>
        <ul>
          <li>Сегодня: {{ todayDate }}</li>
          <li>Завтра: {{ tomorrowDate }}</li>
        </ul>
      
        <div *ngIf="userBookings.length > 0; else noBookings">
          <ul>
            <li *ngFor="let booking of userBookings">
              <p>Место ID: {{ booking.placeId }}</p>
              <p>Дата бронирования: {{ booking.bookingDate }}</p>
            </li>
          </ul>
        </div>
        <ng-template #noBookings>
          <p>Нет забронированных мест на сегодня и завтра.</p>
        </ng-template>
      </div>       -->

      <div class="profile-booking-container">
        <div class="input-container">
          <input type="text" id="today" value="Сегодня" class="user-information-input" readonly />

          <!-- <label class = "placeholder" ></label> -->
        </div>

        <div class="input-container">
          <input type="text" id="tomorrow" value="Завтра" class="user-information-input" readonly />

          <h2>Бронирования на сегодня</h2>
          <div *ngIf="todayBookings$ | async as todayBookings; else loadingToday">
            <ul>
              <li *ngFor="let booking of todayBookings">
                {{ booking | json }}
                <!-- Измените отображение по вашим данным -->
              </li>
            </ul>
          </div>
          <ng-template #loadingToday>
            <p>Загрузка данных на сегодня...</p>
          </ng-template>

          <h2>Бронирования на завтра</h2>
          <div *ngIf="tomorrowBookings$ | async as tomorrowBookings; else loadingTomorrow">
            <ul>
              <li *ngFor="let booking of tomorrowBookings">
                {{ booking | json }}
                <!-- Измените отображение по вашим данным -->
              </li>
            </ul>
          </div>
          <ng-template #loadingTomorrow>
            <p>Загрузка данных на завтра...</p>
          </ng-template>
          <!-- <label class="placeholder" ></label> -->
        </div>

        <!-- <div class="input-container">
            <input type="text"
              id="middleName"
              formControlName="middleName"
              [value]="currentEmployee?.middleName || ''"
              class="user-information-input" 
              readonly
            >
            <label class="placeholder" for="middleName">Отчество</label>
          </div> -->
      </div>
    </ng-container>
    <ng-container *ngIf="selectedSection === 'statistics'">
      <h1>statics</h1>
    </ng-container>
  </div>
</div>
