@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

.head-container {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "SF Pro Display", sans-serif;
}

::ng-deep .mat-dialog-container {
  border-radius: 12px;
}

::ng-deep .cdk-overlay-container,
::ng-deep .cdk-global-overlay-wrapper {
  pointer-events: auto;
  top: 0;
  left: 0;
  overflow-y: auto;
}

::ng-deep .cdk-overlay-container,
::ng-deep .cdk-global-overlay-wrapper {
  pointer-events: auto;
  top: 0;
  left: 0;
  overflow-y: auto;
  scrollbar-width: none;
}

::ng-deep .cdk-overlay-container::-webkit-scrollbar,
::ng-deep .cdk-global-overlay-wrapper::-webkit-scrollbar {
  display: none;
}

.avat-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 64px;
  background-color: #0000000d;
  font-size: 18px;
  color: #005caa;
  font-weight: 590;
  border: none;
}

.user-FIO {
  margin-top: 16px;
  font-size: 17px;
  color: #07203a;
  font-weight: 600;
}

.username {
  margin-top: 5px;
  font-size: 15px;
  color: #07203a;
  font-weight: 400;
}

.button-container {
  margin-top: 24px;
  border-radius: 12px;
  background-color: #a0b9cd26;
  gap: 0px;
}

.select-button {
  border-radius: 12px;
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  color: #2d465b;
  font-weight: 480;
  width: 32.8%;
  flex: 1;
  height: 48px;
  border: none;
  margin: 0px;
  padding: 0px;
  background-color: rgba(160, 185, 205, 0.15);
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.1s ease;

  &:hover {
    background-color: rgba(160, 185, 205, 0.3);
    color: #005caa;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: scale(0.95);
    background-color: rgba(160, 185, 205, 0.5);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }
}

.select-button.active {
  border-radius: 12px;
  background-color: #005caa;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: #00408a;
  }

  &:active {
    transform: scale(0.95);
  }
}

.select-button:disabled {
  border: none;
  background-color: #a0b9cd26;
}

.close-container {
  display: flex;
  justify-content: end;
}

.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: rgba(255, 0, 0, 0);
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  padding: 6px;
}

.close-button:hover app-icon {
  filter: brightness(0) saturate(100%) invert(29%) sepia(62%) saturate(752%) hue-rotate(212deg) brightness(95%)
    contrast(85%);
  transition: filter 0.3s ease;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
  display: flex;
  border: none;
  background-color: #ffffff;
}

.information {
  background-color: red;
  margin-top: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}

.placeholder {
  font-family: "SF Pro Display", sans-serif;
  position: absolute;
  top: 10%;
  transition: 0.2s ease all;
  background-color: none;
  padding: 0 4px;
  color: #2d465b;
  pointer-events: none;
  font-size: 13px;
  padding-left: 12px;
}

.placeholder_2 {
  font-family: "SF Pro Display", sans-serif;
  position: absolute;
  top: 5px;
  transition: 0.2s ease all;
  background-color: none;
  padding: 0 4px;
  color: #2d465b;
  pointer-events: none;
  font-size: 12px;
  width: 250px;
  padding-left: 12px;
}

.user-information-input {
  width: 538px;
  height: 72px;
  border: none;
  padding-left: 12px;
  cursor: pointer;
  color: #07203a;
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
}

.logout-button {
  margin-top: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 52px;
  background-color: #e05a61;
  color: #ffffff;
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-weight: 510;
  border-radius: 12px;
  border: none;
}

.logout-img {
  padding-left: 8px;
}

.logout-button:hover {
  background-color: #c04952;
  transform: scale(1.05);
}

.profile-booking-container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  margin-top: 24px;
  border-radius: 12px;
}

.delete-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 20px;
  top: 12px;
  background-color: #ffffff;
  border: none;
}

.not-place {
  margin-top: 3px;
}

.avatar-edit {
  top: 37px;
  left: 37px;
  position: absolute;
  border: none;
  background-color: #00000060;
  border-radius: 15px;
  width: 30px;
  height: 30px;
}

.avatar-container {
  display: flex;
  position: relative;
}

.user-avatarka {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 64px;
  background-color: #0000000d;
  font-size: 18px;
  color: #005caa;
  font-weight: 590;
  border: none;
}
