.main-text {
  font-family: "SF Pro Display", sans-serif;
  font-size: 20px;
  color: #07203a;
  font-weight: 590;
}

.container {
  margin-top: 36px;
  display: flex;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.work-button {
  flex: 1;
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-weight: 510;
  width: 269px;
  height: 48px;
  border-radius: 8px;
  border: none;
  background-color: #a0b9cd26;
}

.work-button.active {
  border-radius: 8px;
  background-color: #ffff;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.work-button:disabled {
  border-radius: none;
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.mat-form-field {
  padding: 0px;
  margin-top: 24px;
  width: 100%;
  background-color: #ffffff;
  border: none;
}

.booking-button {
  width: 100%;
  height: 52px;
  background-color: #005caa;
  color: #ffffff;
  border: none;
  border-radius: 6px;
}
