<div class="main-container">
  <div class="sidenav" opened="true" disableClose="true" [ngClass]="{ expanded: isExpanded }">
    <div class="nav-bar">
      <button class="nav-log" (click)="toggleExpand()">
        <div class="log-img">
          <img src="../../assets/img/nav-img/Group.svg" alt="Small Logo" class="log-img-1" />
          <img src="../../assets/img/nav-img/bb_logo_web.svg" alt="Large Logo" class="log-img-2" />
        </div>
      </button>

      <button routerLink="/map" class="nav-item-map">
        <div class="map-item">
          <img src="../../assets/img/nav-img/Map.svg" alt="Click me" width="32" height="32" />
        </div>
        <a>Карта этажа</a>
      </button>

      <button routerLink="/conference" class="nav-item">
        <div class="item-img">
          <img src="../../assets/img/nav-img/meeting.svg" alt="Click me" width="32" height="32" />
        </div>
        <a>Совещание</a>
      </button>

      <button routerLink="/employees" class="nav-item">
        <div class="item-img">
          <img src="../../assets/img/nav-img/employees.svg" alt="Click me" width="32" height="32" />
        </div>
        <a>Сотрудники</a>
      </button>

      <button routerLink="/reports" class="nav-item">
        <div class="item-img">
          <img src="../../assets/img/nav-img/reports.svg" alt="Click me" width="32" height="32" />
        </div>
        <a>Отчеты</a>
      </button>

      <button routerLink="/settings" class="nav-item">
        <div class="item-img">
          <img src="../../assets/img/nav-img/settings.svg" alt="Click me" width="32" height="32" />
        </div>
        <a>Настройки</a>
      </button>

      <div class="nav-back-icon" (click)="toggleExpand()">
        <img src="../../assets/img/nav-img/nav-back-icon.png" alt="Click me" width="24" height="24" />
      </div>
    </div>
  </div>
  <div class="content">
    <div class="head-container">
      <div class="current-month-year-cobtainer">
        {{ currentMonthYear }}
      </div>

      <div class="right-container">
        <div class="notification-img">
          <img src="../../assets/img/nav-img/bx-bell.svg" alt="Click me" width="24" height="24" />
        </div>

        <button class="user-avatarka" (click)="openProfileForm()">
          <p>{{ lastNameInitial }}</p>
        </button>

        <div class="user-FIO" *ngIf="currentEmployee">
          {{ currentEmployee.lastName }} {{ currentEmployee.firstName }} {{ currentEmployee.middleName }}
        </div>
        <div *ngIf="!currentEmployee">
          <p>Loading employee data...</p>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
