<div fxFlex>
  <mat-sidenav-container fxFill>
    <mat-sidenav #sidenav mode="side" opened="true" disableClose="true" [ngClass]="{ expanded: isExpanded }">
      <div class="container">
        <div class="nav-bar">
          <button class="nav-log" (click)="toggleExpand()">
            <img src="../../assets/img/nav-img/nav-logo.png" alt="Click me" />
            <a>Booking</a>
          </button>
          <button class="nav-map-item">
            <img class="map-img" src="../../assets/img/nav-img/nav-map.png" alt="Click me" width="32" height="32" />
            <a>Карта этажа</a>
          </button>
          <div class="nav-items">
            <button routerLink="/conference" class="nav-item">
              <img src="../../assets/img/nav-img/nav-calendar.png" alt="Click me" width="32" height="32" />
              <a>Совещание</a>
            </button>
            <button routerLink="/employees" class="nav-item">
              <img src="../../assets/img/nav-img/nav-employees.png" alt="Click me" width="32" height="32" />
              <a>Сотрудники</a>
            </button>
            <button routerLink="/reports" class="nav-item">
              <img src="../../assets/img/nav-img/nav-document.png" alt="Click me" width="32" height="32" />
              <a>Отчеты</a>
            </button>
            <button routerLink="/settings" class="nav-item">
              <img src="../../assets/img/nav-img/nav-settings.png" alt="Click me" width="32" height="32" />
              <a>Настройки</a>
            </button>
          </div>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="head-container"></div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
