<div class="main-container">
  <div class="sidenav" opened="true" disableClose="true" [ngClass]="{ expanded: isExpanded }">
    <div class="nav-bar">
      <button class="nav-log" (click)="toggleExpand()">
        <div class="log-img">
          <img src="../../assets/img/nav-img/Group.svg" alt="Small Logo" class="log-img-1" />
          <img src="../../assets/img/nav-img/bb_logo_web.svg" alt="Large Logo" class="log-img-2" />
        </div>
      </button>

      <button
        routerLink="/map"
        class="nav-item"
        [ngStyle]="{
          'background-color': buttonsState[0] ? '#005CAA' : '#ffff',
          color: buttonsState[0] ? '#ffffff' : '#000000'
        }"
        (click)="toggleColor(0)"
      >
        <div class="item-img">
          <img
            src="../../assets/img/nav-img/Map.svg"
            [ngStyle]="{ filter: buttonsState[0] ? 'brightness(0) invert(1)' : 'none' }"
            alt="Click me"
            width="32"
            height="32"
          />
        </div>
        <a [ngStyle]="{ filter: buttonsState[0] ? 'brightness(0) invert(1)' : 'none' }">Карта этажа</a>
      </button>

      <button
        routerLink="/conference"
        class="nav-item"
        [ngStyle]="{
          'background-color': buttonsState[1] ? '#005CAA' : '#ffff',
          color: buttonsState[1] ? '#ffffff' : '#000000'
        }"
        (click)="toggleColor(1)"
      >
        <div class="item-img">
          <img
            src="../../assets/img/nav-img/meeting.svg"
            [ngStyle]="{ filter: buttonsState[1] ? 'brightness(0) invert(1)' : 'none' }"
            alt="Click me"
            width="32"
            height="32"
          />
        </div>
        <a [ngStyle]="{ filter: buttonsState[1] ? 'brightness(0) invert(1)' : 'none' }">Совещание</a>
      </button>
      <ng-container *ngIf="isAdmin()">
        <button
          routerLink="/employees"
          class="nav-item"
          [ngStyle]="{
            'background-color': buttonsState[2] ? '#005CAA' : '#ffff',
            color: buttonsState[2] ? '#ffffff' : '#000000'
          }"
          (click)="toggleColor(2)"
        >
          <div class="item-img">
            <img
              src="../../assets/img/nav-img/employees.svg"
              [ngStyle]="{ filter: buttonsState[2] ? 'brightness(0) invert(1)' : 'none' }"
              alt="Click me"
              width="32"
              height="32"
            />
          </div>
          <a [ngStyle]="{ filter: buttonsState[2] ? 'brightness(0) invert(1)' : 'none' }">Сотрудники</a>
        </button>

        <button
          routerLink="/reports"
          class="nav-item"
          [ngStyle]="{
            'background-color': buttonsState[3] ? '#005CAA' : '#ffff',
            color: buttonsState[3] ? '#ffffff' : '#000000'
          }"
          (click)="toggleColor(3)"
        >
          <div class="item-img">
            <img
              src="../../assets/img/nav-img/reports.svg"
              [ngStyle]="{ filter: buttonsState[3] ? 'brightness(0) invert(1)' : 'none' }"
              alt="Click me"
              width="32"
              height="32"
            />
          </div>
          <a [ngStyle]="{ filter: buttonsState[3] ? 'brightness(0) invert(1)' : 'none' }">Отчеты</a>
        </button>

        <button class="nav-item" (click)="openSettingForm()">
          <div class="item-img">
            <img src="../../assets/img/nav-img/settings.svg" alt="Click me" width="32" height="32" />
          </div>
          <a>Настройки</a>
        </button>
      </ng-container>
      <div class="nav-back-icon" (click)="toggleExpand()">
        <img src="../../assets/img/nav-img/nav-back-icon.png" alt="Click me" width="24" height="24" />
      </div>
    </div>
  </div>
  <div class="content">
    <div class="head-container">
      <div class="current-month-year-cobtainer">
        {{ currentMonthYear }}
      </div>

      <div class="right-container">
        <button class="notification-img" (click)="openNotificationForm()">
          <img src="../../assets/img/nav-img/bx-bell.svg" alt="Click me" width="24" height="24" />
        </button>

        <button class="user-avatarka" (click)="openProfileForm()">
          <img
            class="avat-img"
            *ngIf="currentEmployee?.avatar; else showInitial"
            [src]="'data:image/jpeg;base64,' + currentEmployee?.avatar"
            alt="Аватар"
            width="100"
          />

          <ng-template #showInitial>
            <p>{{ lastNameInitial }}</p>
          </ng-template>
        </button>

        <div class="user-FIO" *ngIf="currentEmployee">
          {{ currentEmployee.lastName }} {{ currentEmployee.firstName }} {{ currentEmployee.middleName }}
        </div>
        <div *ngIf="!currentEmployee">
          <p>Loading employee data...</p>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
