@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

:host {
  display: flex;
  flex: 1;
}

.main-container {
  width: 100%;
  display: flex;
}

.sidenav {
  width: 88px;
  --sidenav-width: 88px;

  &.expanded {
    width: 256px;
    --sidenav-width: 256px;
  }

  .nav-bar {
    padding-right: 16px;
    position: fixed;
    height: 100vh;
    z-index: 1000;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0px;
    gap: 8px;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1);
  }

  .nav-log {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: none;
    padding: 0px;
    margin-top: 24px;
    margin-bottom: 8px;
  }

  .log-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 16px;

    .log-img-1 {
      display: block;
    }

    .log-img-2 {
      display: none;
    }
  }

  .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    border: none;
    border-radius: 4px;
    padding: 0px;
    margin-left: 16px;

    a {
      font-family: "SF Pro Display", sans-serif;
      font-size: 17px;
      color: #07203a;
      font-weight: 590;
      display: none;
      width: 156px;
      text-align: left;
      border-radius: 4px 4px 4px 4px;
    }
  }

  .nav-back-icon {
    display: none;
    margin-top: 163px;
    margin-left: 186px;
  }

  .item-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;

    &:hover {
      background-color: #abeeff;
      border-radius: 3px;
    }
  }

  &.expanded .nav-back-icon {
    display: block;
  }

  &.expanded .nav-item-map a {
    display: block;
  }

  &.expanded .nav-item a {
    display: block;
  }

  &.expanded .log-img .log-img-1 {
    display: none;
  }

  &.expanded .log-img .log-img-2 {
    display: block;
  }
}

.content {
  width: 100%;
  transition: width 0.3s ease;
  overflow-y: auto;
}

.head-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  background-color: #ffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease;
}

.right-container {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 16px;
  margin-right: 24px;
}

.current-month-year-cobtainer {
  padding-left: 62px;
  font-family: "SF Pro Display", sans-serif;
  font-size: 34px;
  color: #07203a;
  font-weight: 700;
}

.notification-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 48px;
  background-color: #0000000d;
  border: none;
}

.notification-img:hover {
  background-color: #00000026;
  transform: scale(1.1);
  cursor: pointer;
}

.avat-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 64px;
  background-color: #0000000d;
  font-family: "SF Pro Display", sans-serif;
  font-size: 18px;
  color: #005caa;
  font-weight: 590;
  border: none;
}

.user-avatarka {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 64px;
  background-color: #0000000d;
  font-family: "SF Pro Display", sans-serif;
  font-size: 18px;
  color: #005caa;
  font-weight: 590;
  border: none;
}

.user-FIO {
  font-family: "SF Pro Display", sans-serif;
  font-size: 20px;
  color: #000000;
  font-weight: 500;
}
