@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

.container {
  max-height: 549px;
  width: 594px;
}

.close-button {
  display: flex;
  background-color: rgba(255, 0, 0, 0);
  border: none;
}

.main-text {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 590;
  color: #07203a;
  margin-top: 18px;
  margin-left: 18px;
  font-family: "SF Pro Display", sans-serif;
}

.message-card {
  max-height: 549px;
  height: 87%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin-top: 30px;
}

.message-element {
  margin-bottom: 18px;
}

.line {
  border-bottom: 1px solid #ccc;
}

.date {
  padding-top: 18px;
  padding-left: 18px;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 590;
  color: #2d465b;
  font-family: "SF Pro Display", sans-serif;
}

.message {
  padding-left: 18px;
  font-size: 16px;
  font-weight: 400;
  color: #07203a;
  font-family: "SF Pro Display", sans-serif;
}

.scroll-table {
  max-height: 410px;
  overflow-y: auto;
  background: transparent;
  border-radius: 10px;
  border-collapse: separate;
  border-spacing: 0;
  padding-right: 6px;
}
.scroll-table::-webkit-scrollbar {
  width: 10px;
}
.scroll-table::-webkit-scrollbar-track {
  background: #d9d9d9;
  border-radius: 10px;
}
.scroll-table::-webkit-scrollbar-thumb {
  background: #005caa;
  border-radius: 10px;
}
