<div class="container">
  <div class="header">
    <h1>Настройки</h1>
    <button class="close-icon" (click)="closeDialog()">
      <app-icon [size]="20" [svgIcon]="'close'" alt="close-icon" class="close-icon"> </app-icon>
    </button>
  </div>
  <div class="btns">
    <button>Распределение команд по столам</button>
    <button (click)="openBooking_WorkplaceForm()">Бронь рабочих мест</button>
    <button (click)="openBooking_MeetingroomForm()">Бронь переговорной</button>
    <button (click)="openWork_DaysForm()">Рабочие дни</button>
    <button (click)="openTeams_Form()">Команды</button>
  </div>
</div>
